
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f1f1d1;
      background-image: url(./images/wp3634868.webp);
      background-size: cover;
    }

    header {
      text-align: center;
      padding-top: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background-color: rgb(255, 255, 255);
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }

    main {
      background-color: rgb(255, 255, 255);
      max-width: 800px;
      margin: 20px auto;
      padding: 5px 20px;
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
      border-radius: 20px;
    }

    .img1 {
      width: 180px;
      height: 250px;
      border-radius: 80px;
    }
    .img1:hover {
      transition: all 0.4s ease-in-out;
      transform: scale(1.1);
      transition-duration: 1s;
    }
    .img2 {
      width: 450px;
      height: 300px;
      margin-left: 17%;
    }

    h1 {
      font-family: "Dancing Script", cursive;
      border-radius: 100px;
      font-size: 3.5em;
      letter-spacing: 12px;
      font-weight: 100;
      margin-top: 10px;
    }

    .quote {
      text-align: center;
      font-size: 1.2em;
    }

    .author {
      text-align: right;
      font-style: italic;
    }

    footer {
      text-align: center;
      padding: 5px 0;
      background-color: #ffffff;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }

    ul li {
      position: relative;
      padding-bottom: 10px;
      margin-right: 20px;
    }

    ul {
      list-style: none;
      line-height: 1.5em;
    }

    ul li:before {
      content: "";
      position: absolute;
      border-right: 2px solid black;
      border-bottom: 2px solid black;
      width: 6px;
      height: 6px;
      top: calc(30% - 5px);
      left: -20px;
      transform: translateY(-50%) rotate(-45deg);
    }
    .tribute {
      display: flex;
      flex-direction: column;
    }